{{#foreach @member.subscriptions}}
<div class="account-details">
    <div class="account-details-wrap">
        <h2 class="account-details-title">{{t "Account details"}}</h2>
        <div class="account-details-content">
            <div class="account-detail-column">
                <div>
                    <label class="account-detail-heading">{{t "Email address"}}</label>
                    <span class="account-detail-content">{{@member.email}}</span>
                </div>
                <div>
                    <label class="account-detail-heading">{{t "Your plan"}}</label>
                    <span class="account-detail-content">{{plan.nickname}} — {{price plan}}/{{plan.interval}}</span>
                    <p>Member ID: {{@member.id}}</p>
                    <p>Customer ID: {{customer.id}}</p>
                    <p>Customer Name: {{customer.name}}</p>
                    <p>Customer email: {{customer.email}}</p>
                    <p>Plan ID: {{plan.id}}</p>
                    <p>Plan nickname: {{plan.nickname}}</p>
                    <p>Plan interval: {{plan.interval}}</p>
                    <p>Status: {{status}}</p>
                </div>
            </div>
            <div class="account-detail-column">
                <div>
                    <label class="account-detail-heading">{{t "Card"}}</label>
                    <span class="account-detail-content">**** **** **** {{default_payment_card_last4}}</span>
                </div>
                <div>
                    <label class="account-detail-heading">
                        {{#if cancel_at_period_end}}
                        {{t "Expires"}}
                        {{else}}
                        {{t "Next bill date"}}
                        {{/if}}
                    </label>
                    <span class="account-detail-content">{{date current_period_end format="DD MMM YYYY"}}</span>
                </div>
            </div>
            {{#if cancel_at_period_end}}
            <small class="account-alert-expired">
            {{t "Your subscription will expire on"}} — {{date current_period_end format="DD MMMM YYYY"}}. {{t "If you change your mind in the meantime you can turn auto-renew back on to continue your subscription."}}
            </small>
            {{/if}}
        </div>
    </div>
    <div class="account-buttons">
        {{cancel_link class="account-button-cancel" errorClass="cancel-error global-alert" cancelLabel=(t "Cancel subscription") continueLabel=(t "Continue subscription")}}
        <a href="#" class="account-button-billing" data-members-edit-billing>
            {{t "Edit billing info"}} <span>&rarr;</span>
        </a>
    </div>
</div>

{{/foreach}}