<div class="tag-toc">
{{#get "tags" limit="all" filter="slug:basics"}}
	{{#foreach tags}}
		<div class="visibility-container" data-visibility="{{slug}}">
			<div class="text-lg max-w-prose mb-5">
				<h1 id="{{slug}}" data-slug="{{slug}}">
					<span class="mt-2 block text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl"><a href="{{url}}">{{name}}</a></span>
				</h1>
			</div>
			<div class="grid gap-5 lg:grid-cols-4 sm:max-w-sm sm:mx-auto lg:max-w-full postItem">
				{{#get "posts" limit="all" include="tags" filter="tag:{{slug}}"}}
					{{#foreach posts}}
						{{#has tag="#procedure"}}
							{{> "thumbs"}}
						{{/has}}
					{{/foreach}}
				{{/get}}
			</div>
		</div>
	{{/foreach}}
{{/get}}
{{#get "tags" limit="all" filter="slug:-['basics','msk','news']" as |tags|}}
	{{#foreach tags}}
		<div class="visibility-container" data-visibility="{{slug}}">
		<div class="text-lg max-w-prose mb-5">
			<h1 id="{{slug}}" data-slug="{{slug}}">
				<span class="mt-2 block text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl"><a href="{{url}}"">{{name}}</a></span>
			</h1>
		</div>
		<div class="grid gap-5 lg:grid-cols-4 sm:max-w-sm sm:mx-auto lg:max-w-full postItem">{{#get "posts" include="tags" filter="tag:{{slug}}" order="title asc"}}{{#foreach posts}}{{#has tag="#procedure"}}{{> "thumbs"}}{{/has}}{{/foreach}}{{/get}}</div>
		</div>
	{{/foreach}}
{{/get}}
</div>