{{!< default}}
<div class="px-4 pt-6 pb-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:pt-0">
	<div class="text-lg max-w-prose mx-auto">
		{{#if @member.paid}}
		<h1>
			{{#is "videos"}}
				<span class="block text-base text-center font-semibold tracking-wide uppercase">Browse Our</span>
				<span class="mb-6 block text-3xl text-center leading-8 font-extrabold tracking-tight sm:text-4xl">Videos</span>
			{{/is}}
			{{#is "tag"}}
				<span class="block text-base text-center font-semibold tracking-wide uppercase">Videos Tagged</span>
				<span class="mb-6 block text-3xl text-center leading-8 font-extrabold tracking-tight sm:text-4xl">{{tag.name}}</span>
			{{/is}}
		</h1>
	</div>

	<br />
	{{#get "tags" limit="all" include="count.posts" as |tags|}}
		{{#foreach tags}}
			<div class="text-lg max-w-prose mb-3">
				<h1>
					<span class="mt-2 block text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl">{{name}} ({{count.posts}})</span>
				</h1>
			</div>
			<div class="grid gap-5 lg:grid-cols-4 sm:max-w-sm sm:mx-auto lg:max-w-full">
				{{#get "posts" filter="tag:{{slug}}"}}
					{{#foreach posts}}
					<div class="overflow-hidden transition-shadow duration-300 rounded">
						<a href="{{url}}" aria-label="{{title}}"><img src="https://images.pexels.com/photos/932638/pexels-photo-932638.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" class="object-cover w-full h-64 rounded" alt="{{title}}" /></a>
						<div class="py-5">
							<a href="{{url}}" aria-label="Article" class="inline-block mb-3 brand-lnk">
								<p class="text-2xl font-bold leading-5">{{title}}</p>
							</a>
							<p class="mb-4">
								{{#post}}
								Access: {{access}}
								{{/post}}
								{{#if custom_excerpt}}
									{{excerpt}}
								{{/if}}
							</p>
						</div>
					</div>
					{{/foreach}}
				{{/get}}
			</div>
		{{/foreach}}
	{{/get}}
	
	{{else}}
		<div class="relative px-4 sm:px-6 lg:px-8">

		<!-- post header -->
		<div class="text-lg max-w-prose mx-auto">
			<h1>
				<span class="block text-base text-center font-semibold tracking-wide uppercase">Welcome to Ultrasound Guidance</span>
				<span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight sm:text-4xl">Please Log In</span>
			</h1>
		</div>

		<br /><br /><br />

		<!-- post body -->
		<div class="mt-6 prose prose-lg mx-auto gh-content">
			{{> "content-cta"}}
		</div>
		<br /><br /><br />
	</div>
	{{/if}}
	
</div>
</div>